extend layouts/embed
block content
	div(class="container #{processed}")
		if processed === "processing"
			p Processing QuickCast
		else if processed === "failed"
			p This QuickCast failed to process
		else
			video(data-width="#{video_width}", data-height="#{video_height}", data-intro="#{video_intro}", data-outro="#{video_outro}")
				source(src="#{mp4}")
				source(src="#{webm}")