extend layouts/embed
block content
	div(class="container #{processed}")
		if processed === "processing"
			p Processing QuickCast
		else if processed === "failed"
			p This QuickCast failed to process
		else
			video(preload="auto", style="max-width:#{video_width}px", data-width="#{video_width}", data-height="#{video_height}", data-intro="#{video_intro}", data-outro="#{video_outro}")
				//- source(src="#{mp4}", type="video/mp4")
				source(src="#{mp4small}", type="video/mp4")
				source(src="#{webm}", type="video/webm")
				p Sorry, your browser does not support the QuickCast video player