extend layouts/layout
block content
	div(class="container #{processed}")
		if processed === "processing"
			p Encoding QuickCast &mdash; Please check again soon
		else if processed === "failed"
			p This QuickCast failed to process
		else
			video(data-width="#{video_width}", data-height="#{video_height}", data-intro="#{video_intro}", data-outro="#{video_outro}")
				//- source(src="#{mp4}", type="video/mp4")
				source(src="#{mp4small}", type="video/mp4")
				source(src="#{webm}", type="video/webm")
				p Sorry, your browser does not support the QuickCast video player
	.content.watch
		.detail
			h1 #{title}
			h2 by #{username} &bull; #{when} &bull; #{views} views
			!{body}
		.tags
			if tags
				each tag in tags
					span= tag.name
			.share
				if processed != "processing" && processed != "failed"
					h3 Share
					include includes/twitter.html
					a(href="#embed", class="embed", data-width="#{video_width}", data-height="#{video_height}")
						span Embed
					a(href="http://quick.as/#{uniqueid}") quick.as/#{uniqueid}
					if gifexists
						a(href="#{gif}") Animated Gif