extend layouts/layout
block content
	div(class="container #{processed}")
		if processed === "processing"
			p Processing QuickCast
		else if processed === "failed"
			p This QuickCast failed to process
		else
			video(data-width="#{video_width}", data-height="#{video_height}")
				source(src="#{mp4}")
				source(src="#{webm}")
	.content.watch
		.detail
			h1 #{title}
			h2 by #{username} &bull; #{when} &bull; #{views} views
			!{body}
		.tags
			each tag in tags
				span= tag.name
			.share
				if processed != "processing" && processed != "failed"
					h3 Share
					include includes/twitter.html
					a(href="#embed", class="embed", data-width="#{video_width}")
						span Embed
					a(href="http://quick.as/#{uniqueid}") quick.as/#{uniqueid}